<!-- START SIGMA IMPORTS -->
<script src="/static/js/sigma.js"></script>
<script src="/static/js/sigma.parsers.json.min.js"></script>
<!-- END SIGMA IMPORTS -->

<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>
  <div id="graph-container"></div>
</div>
<script>

    s = new sigma(
        {
            container: 'graph-container',
            type: 'canvas',
            settings: {}
        }
    );

    sigma.parsers.json('/api/network', s, function(){
        s.refresh();
    });

</script>